# Dictionaries

In [3]:
mydict = {"item-1":"value-1", "item-2":"value-2", "item-3":"value-3"}

In [4]:
mydict

{'item-1': 'value-1', 'item-2': 'value-2', 'item-3': 'value-3'}

In [5]:
mydict["item-1"]

'value-1'

In [6]:
mydict1 = {1:"value-1", 2:"value-2", 3:"value-3"}

In [7]:
mydict1[3]

'value-3'

In [8]:
l1 = [10,20,30,40]
l2 = [20,40,30,10]

In [9]:
l1 == l2

False

In [10]:
mydict1 = {"item-1":"value-1", "item-2":"value-2", "item-3":"value-3"}

In [11]:
mydict2 = {"item-2":"value-2", "item-3":"value-3", "item-1":"value-1"}

In [12]:
mydict1 == mydict2

True

In [13]:
dict2 = {"item-1":347893, "item-2":[10,11,12,13,14,15], "item-3":["ml","dl","ds","ai"]}

In [14]:
dict2

{'item-1': 347893,
 'item-2': [10, 11, 12, 13, 14, 15],
 'item-3': ['ml', 'dl', 'ds', 'ai']}

In [15]:
dict2["item-3"][-1]

'ai'

In [16]:
dict2["item-3"][1:-1]

['dl', 'ds']

In [17]:
dict2.keys()

dict_keys(['item-1', 'item-2', 'item-3'])

In [18]:
dict2.values()

dict_values([347893, [10, 11, 12, 13, 14, 15], ['ml', 'dl', 'ds', 'ai']])

In [19]:
dict2.items()

dict_items([('item-1', 347893), ('item-2', [10, 11, 12, 13, 14, 15]), ('item-3', ['ml', 'dl', 'ds', 'ai'])])

# Exercise

In [22]:
birthday = {"Ayush":"Jan1", "Pranay":"Jan2", "Vaishnavi":"Jan3"}

while(1):
    print("Please enter the name:")
    name = input()
    
    if name == "quit":
        break
        
    if name in birthday:
        print(birthday[name],' is the birthday of ', name)
        
    else:
        print(name," is not availabel.")
        print("Do you wish to enter the birthday???")
        bday = input()
        
        birthday[name] = bday
        print("Member is sucessfully updated!!!")

Please enter the name:

 Pranay

Jan2  is the birthday of  Pranay
Please enter the name:

 Amit

Amit  is not availabel.
Do you wish to enter the birthday???

 Jan4

Member is sucessfully updated!!!
Please enter the name:

 Amit

Jan4  is the birthday of  Amit
Please enter the name:

 Abhimayu

Abhimayu  is not availabel.
Do you wish to enter the birthday???

 Jan5

Member is sucessfully updated!!!
Please enter the name:

 Abhimanyu

Abhimanyu  is not availabel.
Do you wish to enter the birthday???

 Jan6

Member is sucessfully updated!!!
Please enter the name:

 Abhimanyu

Jan6  is the birthday of  Abhimanyu
Please enter the name:

 quit

In [24]:
l1 = []

while True:
    print("S.No.:",len(l1)+1)
    x = int(input())
    
    if x == 0:
        break
    
    l1.append(x)
    
for x in l1:
    for y in range(1,11):
        print('{} * {} = {}'.format(x,y,x*y))
    print('*'*20)

S.No.: 1

 10

S.No.: 2

 11

S.No.: 3

 12

S.No.: 4

 0

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
********************
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
********************
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
********************

# File Handeling

In [25]:
# Writing

In [30]:
cities = ["Meerut","Delhi", "Hyderabad", "Mumbai", "Jaipur"]

with open("cities.txt", 'w') as city_file:
    for city in cities:
        print(city, file=city_file, end=',')

In [29]:
#Reading
list1 = []

with open("cities.txt", 'r') as city_file:
    for city in city_file:
        list1.append(city.strip('\n'))
print(list1)
for c in list1:
    print(c)

['Meerut', 'Delhi', 'Hyderabad', 'Mumbai', 'Jaipur']
Meerut
Delhi
Hyderabad
Mumbai
Jaipur

In [31]:
cities1 = ["Meerut","Delhi", "Hyderabad", "Mumbai", "Jaipur"]

with open("city.txt", 'w') as city_file:
    for city in cities1:
        print(city, file=city_file)

In [32]:
c = ["Agra","Mathura","Kanpur"]

with open("city.txt", 'a') as cities:
    for city in c:
        print(city, file=cities)

In [33]:
file = open('city.txt', 'r')

for city in file:
    print(city)
file.close()

Meerut

Delhi

Hyderabad

Mumbai

Jaipur

Agra

Mathura

Kanpur

In [36]:
my_file = open("test.txt", 'w+')

In [37]:
my_file.write("This is line one of this file.")

30

In [38]:
my_file.read()

''

In [39]:
my_file.seek(0)

0

In [40]:
my_file.read()

'This is line one of this file.'

In [41]:
my_file.read()

''