# List Continue

In [1]:
name = ["Aaamod", "Pranay", "Ayush", "Abhimanyu"]
print(name)

['Aaamod', 'Pranay', 'Ayush', 'Abhimanyu']

### index(), append(), insert(), remove(), pop(), sort()

In [2]:
name

['Aaamod', 'Pranay', 'Ayush', 'Abhimanyu']

In [7]:
name.index("Pranay")
name.index("Abhimanyu")
# name.index("Amit")

3

In [8]:
name.append("Amit")

In [9]:
name

['Aaamod', 'Pranay', 'Ayush', 'Abhimanyu', 'Amit']

In [10]:
name.append("Vishwajeet")

In [11]:
name

['Aaamod', 'Pranay', 'Ayush', 'Abhimanyu', 'Amit', 'Vishwajeet']

In [12]:
name.insert(3,"Vipin")

In [13]:
name

['Aaamod', 'Pranay', 'Ayush', 'Vipin', 'Abhimanyu', 'Amit', 'Vishwajeet']

In [14]:
name.append(10)

In [15]:
name

['Aaamod', 'Pranay', 'Ayush', 'Vipin', 'Abhimanyu', 'Amit', 'Vishwajeet', 10]

In [16]:
name[4] = "Sonali"

In [17]:
name

['Aaamod', 'Pranay', 'Ayush', 'Vipin', 'Sonali', 'Amit', 'Vishwajeet', 10]

In [18]:
name.remove(10)

In [19]:
name

['Aaamod', 'Pranay', 'Ayush', 'Vipin', 'Sonali', 'Amit', 'Vishwajeet']

In [20]:
name.append("Ayush")

In [21]:
name

['Aaamod', 'Pranay', 'Ayush', 'Vipin', 'Sonali', 'Amit', 'Vishwajeet', 'Ayush']

In [22]:
name.remove("Ayush")

In [23]:
name

['Aaamod', 'Pranay', 'Vipin', 'Sonali', 'Amit', 'Vishwajeet', 'Ayush']

In [24]:
name.pop()

'Ayush'

In [25]:
name

['Aaamod', 'Pranay', 'Vipin', 'Sonali', 'Amit', 'Vishwajeet']

In [26]:
name.pop(0)

'Aaamod'

In [27]:
name.sort()

In [28]:
name

['Amit', 'Pranay', 'Sonali', 'Vipin', 'Vishwajeet']

In [29]:
name.sort(reverse=True)

In [30]:
name

['Vishwajeet', 'Vipin', 'Sonali', 'Pranay', 'Amit']

# Exercise

In [33]:
l1 = []

while True:
    print("S.No.:",len(l1)+1)
    x = input()
    
    if x == "quit":
        break
    
    l1.append(x)
    
for item in l1:
    print(item)

S.No.: 1

 vishwajeet

S.No.: 2

 amit

S.No.: 3

 pranay

S.No.: 4

 quit

vishwajeet
amit
pranay

In [34]:
name = ['Amit', 'Pranay', 'Sonali', 'Vipin', 'Vishwajeet']

In [37]:
for item in name:
    print(item, end=', ')

Amit, Pranay, Sonali, Vipin, Vishwajeet,

# List Comprihension

In [40]:
str1 = "Ayush"

mylist = []

for letter in str1:
    mylist.append(letter)
print(mylist)
print(type(mylist))

['A', 'y', 'u', 's', 'h']
<class 'list'>

In [42]:
str1 = "Ayush"

mylist = []

for letter in str1:
    print(letter[0],end="")

Ayush

In [43]:
mylist  = [letter for letter in str1]
mylist

['A', 'y', 'u', 's', 'h']

In [44]:
l1 = [x for x in range(0,11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
l2 = [x**3 for x in range(0,11)]
print(l2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
l3 = [x for x in range(0,20) if x%2 == 0]
print(l3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
l4 = [x if x%2 == 0 else "odd" for x in range(0,20) ]
print(l4)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14, 'odd', 16, 'odd', 18, 'odd']

In [52]:
l1 = []

for x in [1,2,3]:
    for y in [1,10,100]:
        l1.append(x*y)

l1

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [53]:
l2 = [x*y for x in [1,2,3] for y in [1,10,100]]
l2

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [54]:
c = [0,20,22.6, 35.5, 48.67]

f = []

for temp in c:
    f.append((9/5)*temp + 32)
    
f

[32.0, 68.0, 72.68, 95.9, 119.60600000000001]

In [55]:
l1 = [((9/5)*temp) + 32 for temp in c]

In [56]:
l1

[32.0, 68.0, 72.68, 95.9, 119.60600000000001]

# Tuple

In [57]:
t1 = ("Vishwajeet", "Ayush", "Pranay", "Amit")

In [58]:
t1

('Vishwajeet', 'Ayush', 'Pranay', 'Amit')

In [60]:
t1[0:2]

('Vishwajeet', 'Ayush')

In [61]:
t1[-1] = "Abhimanyu"

TypeError: 'tuple' object does not support item assignment

In [62]:
len(t1)

4

In [63]:
del t1[3]

TypeError: 'tuple' object doesn't support item deletion

# Set

In [64]:
l1 = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,6,6,6,7,7,7]

In [65]:
x = set(l1)

In [66]:
x

{1, 2, 3, 4, 6, 7}

In [67]:
set1 = {1, 2, 3, 4, 6, 7}
print(set1)

{1, 2, 3, 4, 6, 7}